numpy==1.26.4
pandas
pytube==15.0.0
requests==2.32.3
scrapetube==2.5.1
streamlit
streamlit_analytics2
python-dotenv

git+https://github.com/Rafipilot/embedding_bucketing
# git+https://github.com/aolabsai/ao_core
# git+https://github.com/aolabsai/ao_arch

beautifulsoup4  # for adding metadata to index.html when deploying with docker